.reset-password-page {
  background: rgba(230, 238, 242, 0.95);
  height: 100vh;
  h1 {
    margin-top: 0px;
  }
  .request-to-reset {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    position: absolute;
    top: 37%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    div{
      width: 100%;
    }
    .inputWrapper {
      width:100%;
      margin-left: 49px;
      margin-right: 49px;
      display: flex;
      input {
        width: 70%;
        border: 1px solid #E6EEF2;
        padding: 11px 16px 8px 21px;
        font-size: 14px;
      }
      span {
        color: #7C8D9C;
        font-size: 14px;
        width: 30%;
        align-self: center;
        text-align: left;
      }
    }
    h2{
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.3125rem;
      font-weight: 500;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.16667em;
    }
    .main__wrapper {
      display: flex;
    }
  }
  .reset-password {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    position: absolute;
    top: 37%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    input {
      width: 70%;
      border: 1px solid #E6EEF2;
      padding: 11px 16px 8px 21px;
      font-size: 14px;
      margin-bottom: 30px;
    }
    div{
      width: 100%;
    }
    .no-error {
      color: #d90313;
      position: relative;
      margin-bottom: 10px;
      margin-top: -10px;
    }
    h2{
      font-size: 1.3125rem;
      font-weight: 500;
    }
  }
}