
.Webpage-present {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #424242;
}
.webpage-image-wrapper {
  position: relative;
  .slider-button-block {
    position: absolute;
    right: 20px;
    bottom: -40px;
    background-color: #0B132B;
    height: 60px;
    width: 10%;
    border-radius:20px ;
    display: flex;
    justify-content: center;
    img {
      padding-left: 5px;
      padding-right: 5px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  .Content-wrapper-svg {
    width: 80vw;
  }
}