@import "styles/fonts.scss";
@import "styles/Profile.scss";
@import "styles/ResetPassword.scss";
@import "styles/Boundle.scss";
html {
  font-family: 'Poppins', sans-serif!important;
}

a {
  text-decoration: none;
}
a.active>div:before {
  content: "";
  padding: 14px 0;
  border-left: 2px solid #4c85ff;
  left: 0;
  position: absolute;
}
a.active>div>svg{
  ////color:#4c85ff;
  //fill:red!important;
  //color:red!important;
}
a.active>div>div {
  color: black;
  font-family: 'Poppins', sans-serif!important;
}
nav>a>div>div>span {
  color:#adb5c2;
}
.searchHeaderField input,
.searchHeaderField label {
  color:white!important;
}

